@media screen and (max-width: 575.98px) {
    .homesidebar{
        width: 50px;
    }
    main {
        width: calc(100% - 50px);
        background-color: rgba(20, 25, 34, 1);
        position: fixed;
        top: 89px;
        left: 49px;
        height: calc(100vh - 90px);
        overflow-y: auto;
    }
    .upgrade {
        width: calc(100vw - 50px);
        background-color: rgba(8, 11, 18, 1);
        height: 90px;
        position: fixed;
        top: 0;
        left: 49px;
        line-height: 90px;
    }
    .hidden{
        display: none;
    }
    .shown{
        display: inline-block;
    }
    .small-logo img{
        width: 35px;
        margin: 9px;
    }
    .homesidebar ul li a img{
        width: 35px;
        margin: 9px;
        padding: 0px;
        border: none;
    }
    .homesidebar .nav-links ul li:first-child{
        border-left: none;
    }
    .homesidebar ul li a{
        padding-bottom: 0px;
    }
    .nav-links{
        padding: 0px!important;
    }
    #persinfo img{
        width: 35px;
        margin: 9px;
        padding: 0px;
        border: none;
    }
    #persinfo i{
        margin-left: 20px
    }
    .install{
        border: none;
    }
    .media-body{
        padding-right: 5px;
    }
    .volume i{
        padding-right: 15px;
    }
    .vol_bar{
        width: 20px;
    }
    .player{
        flex-grow: none;
    }
    
    main .nav ul li{
        margin-bottom: 40px;
    }
    .card{
        width: 45%;
        margin-bottom: 15px;
    }
    .song_selection{
        padding-left: 15px!important;
    }

}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    main .nav ul li{
        margin: 15px;
    }
    .card{
        width: 45%;
    }
    
}
@media screen and (min-width: 768.98px) and (max-width: 991.98px) {
    .card {
        width: 20%;
    }
    
}