@media screen and (max-width: 575.98px) {
    .homesidebar{
        width: 52px;
    }
    .hidden{
        display: none;
    }
    .shown{
        display: inline-block;
    }
    .small-logo img{
        width: 35px;
        margin: 9px;
    }
    .homesidebar ul li a img{
        width: 35px;
        margin: 9px;
        padding: 0px;
        border: none;
    }
    .homesidebar .nav-links ul li:first-child{
        border-left: none;
    }
    .homesidebar ul li a{
        padding-bottom: 0px;
    }
    .nav-links{
        padding: 0px!important;
    }
    #persinfo img{
        width: 35px;
        margin: 9px;
        padding: 0px;
        border: none;
    }
    #persinfo i{
        margin-left: 18px
    }
    .install{
        border: none;
    }
}