body{
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.shown{
    display: none;
}
.hidden{
    display: inline-block;
}
.container{
    height: 100%;
}
/* color palette */

.bg_mediaplayer{
    background-color: rgba(40, 40, 40, 1);
}
.greenmarker{
    color: rgba(173, 255, 47, 1);
}
.opacity{
    opacity: 50%;
}
/* header */
.homesidebar{
    height: calc(100vh - 90px);
    background-color: black;
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
}
.homesidebar img{
    width: 150px;
}
.homesidebar  ul  li{
    list-style: none;
}
.homesidebar li a{
    padding-bottom: 5px;
    display: block;
    font-size: 16px;
}

.homesidebar ul li a img{
    width: 35px;
    margin-left: 18px;
}
.homesidebar .nav-links ul li:first-child{
    border-left: 2px solid rgba(173, 255, 47, 1);
}
.fa-plus{
    font-size: 1.5rem;
    color: black;
    padding: 12px;
    background-color: rgba(163, 163, 163, 1);
}
.fa-info{
    font-size: 0.7rem;
    padding: 2px 4px;
    border: 1px solid;
    border-radius: 50%;
}
#persinfo img{
    width: 30px;
    padding: -3px;
    background-color: rgba(163, 163, 163, 1);
    border-radius: 50%;
}
#persinfo hr{
    height: 2px;
    background-color: rgba(248, 249, 250, 1);
}
#persinfo a{
    font-size: 1.5rem;
}

#create{
    font-size: 1.25rem;
}
#playlist li:not(:first-child){
    padding-bottom: 0.75rem;
}
#playlist{
    overflow-y: auto;
}
.install {
    border-bottom: 1px solid white;
}

/* main */
main {
    width: 100vw;
    background-color: rgba(20, 25, 34, 1);
    position: fixed;
    top: 90px;
    left: 230px;
    height: calc(100vh - 90px); 
    overflow-y: auto;
}
main nav li{
    justify-content: space-around;
    align-content: center;
}
.nav{
    justify-content: space-around;
}
.nav-item {
    padding:0px 12px;
}
.nav-item a{
    padding: 0px;
    font-size: 16px;
}
main h3{
    font-weight: 600;
}
/* card section */
.card {
    background-color: transparent!important;
    border: none!important;
}
.card-body{
    padding: 0px 3px!important;
}
.card-title{
    color: white;
    font-weight: 600;
    text-align: center;
    padding-top: 15px;
}
.card-text{
    text-align: center;
}
/* upgrade section */
.upgrade {
    width: calc(100vw - 230px);
    background-color: rgba(8, 11, 18, 1);
    height: 90px;
    position: fixed;
    top: 0;
    left: 230px;
    line-height: 90px;
}
.upgrade .upg_text{
    text-align: right;
    vertical-align: middle;
    padding-right: 10px;
}
.upgrade .upg_text a {
    font-weight: 600;
    font-size: 12px;
    border: 1px solid white;
    padding: 12px 35px;
    border-radius: 50px;
    transition: all 0s;
}
.upgrade .upg_text a:hover{
    font-size: 14px;
    padding: 14px 37px;

}
/* footer */

.media_player{
    width: 100vw;
    height: 90px;
    background-color: rgba(40, 40, 40, 1);
    width: 100vw;
    position: fixed;
    bottom: 0;
}
.media_player img{
    width: 45px;
}
.progress_tot{
    margin: 0px 15px;
    width: 400px;
    height: 5px;
    border-radius: 5px;
    background: linear-gradient(90deg, #C1C1C1 50%, #5A5A5A 50%)
}
.vol_bar{
    width: 150px;
    height: 5px;
    border-radius: 5px;
    background-color: rgba(163, 163, 163, 1);
}
.playericons{
    vertical-align: middle;
}
.volume i{
    font-size: 12px;
    padding-right: 18px;
}
.playericons i{
    font-size: 15px;
    padding: 0px 12px;
}
i.fa-play-circle{
    font-size: 25px;
}