/* color palette */
.bg_mediaplayer{
    background-color: rgba(40, 40, 40, 1);
}
.greenmarker{
    color: rgba(173, 255, 47, 1);
}
.opacity{
    opacity: 50%;
}
/* header */
.homesidebar{
    height: calc(100vh - 90px);
    background-color: black;
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
}
.homesidebar img{
    width: 150px;
}
.homesidebar  ul  li{
    list-style: none;
}
.homesidebar li a{
    padding-bottom: 5px;
    display: block;
    font-size: 16px;
}
.homesidebar ul li a img{
    width: 35px;
    margin-left: 18px;
}
.homesidebar .nav-links ul li:first-child{
    border-left: 2px solid rgba(173, 255, 47, 1);
}
.fa-plus{
    font-size: 1.5rem;
    color: black;
    padding: 12px;
    background-color: rgba(163, 163, 163, 1);
}
.fa-info{
    font-size: 0.8rem;
    padding: 2px 4px;
    border: 1px solid;
    border-radius: 50%;
}
#persinfo img{
    width: 30px;
    padding: -3px;
    background-color: rgba(163, 163, 163, 1);
    border-radius: 50%;
}
#persinfo hr{
    height: 2px;
    background-color: rgba(248, 249, 250, 1);
}
#persinfo a{
    font-size: 1.5rem;
}
#persinfo{
   
}
#create{
    font-size: 1.25rem;
}
#playlist li:not(:first-child){
    padding-bottom: 0.75rem;
}

/* footer */
.media_player{
    height: calc(100vh - 1010px);
    background-color: rgba(40, 40, 40, 1);
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
}